server:
  port: 8081

health:
  message: "Hello from user-service in Helm K8S DEV!"

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop

  h2:
    console:
      enabled: true
      path: /user-h2-console

  cloud:
    function:
      definition: orderCreated
    stream:
      kafka:
        binder:
          brokers: ${KAFKA_BROKERS}
      bindings:
        orderCreated-in-0:
          destination: order-created
          group: user-service
        pointsFailed-out-0:
          destination: points-failed
          content-type: application/json

    kubernetes:
      config:
        enabled: false
      discovery:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  metrics:
    tags:
      application: ${spring.application.name}